@CHARSET "UTF-8";

.myHr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.rigth {
    float: right;
}

.left {
    float: left;
}

.widthMax {
    width: 100%;
    
}

#header-wrapper {
    background-image: url(/img/wallpapers/empresaComercial.jpg) !important;
    background-position: 10% 90% !important;
}

label,td,th {
	font-size: 13px;
}

.btn-cempx {
	width: 130px;
}