<!-- ## header start ## -->
<header id="header-wrapper">
    <!-- ## header start ## -->
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- ## logo start ## -->
                    <div class="logo">
                        <!-- ## logo-text start ## -->
                        <div class="logo-text">
                            <a href="#">
                                CRM Empresa Comercial
                            </a>
                        </div>
                        <!-- ## logo-text end ## -->
                    </div>
                    <!-- ## logo end ## -->
                    <!-- ## nav-search start ## -->
                    <div class="nav-search-bar">
                        <!-- ## navbar-toggle start ## -->
                        <button class="navbar-toggle" data-target="#nav-dropdown-menu1" data-toggle="collapse" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- ## navbar-toggle end ## -->
                    </div>
                    <!-- ## nav-search end ## -->
                </div>
            </div>
        </div>
        <!-- ## navbar-wrapper start ## -->
        <div class="navbar-wrapper">
            <!-- ## dropmenu start ## -->
            <div class="navbar navbar-small dropmenu" role="banner">
                <div class="container">
                    <!-- ## nav-dropdown-menu start ## -->
                    <nav id="nav-dropdown-menu1" class="nav-dropdown-menu collapse navbar-collapse">
                        <ul id="menu-top-menu" class="nav">
<!--                             <li class="menu-item menu-item-type-custom menu-item-object-custom dropdown"> -->
<!--                                 <a title="Clientes" href="#/clientes" class="dropdown-toggle" aria-haspopup="true"> -->
<!--                                     <span class="glyphicon glyphicon-th-list"></span> -->
<!--                                     &nbsp;Clientes -->
<!--                                 </a> -->
<!--                             </li> -->
                        </ul>
                    </nav>
                    <!-- ## nav-dropdown-menu end ## -->
                </div>
            </div>
            <!-- ## dropmenu end ## -->
        </div>
        <!-- ## navbar-wrapper end ## -->
    </div>
    <!-- ## header end ## -->
</header>
<!-- ## header end ## -->
